body {
    background-color: #ddd4df;
    font-family: "Kurale", serif;
}
.data {
    background-color: #e6e6fa ;
    max-width: 600px;
    margin: 30px 0 auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 15px;
}